{% if post.thumbnail %}
<div style="background-image:url('{{post.thumbnail}}');" class="banner"></div>
{% else %}
<div style="background-image:url('{{site.theme.link}}/assets/images/banner.png');" class="banner"></div>
{% endif %}
<div id="main-mistake" class="mistake">
  <div class="content paper">
    <a href="{{post.category.link}}">
      <p class="labels">#{{post.category}}</p>
    </a>
    <h1 class="title">{{post.title}}</h1>
    <div class="text">
      {{post.content}}
    </div>
  </div>
  <div class="footer foot-auth">
  
    {{likebtn}}

    <div class="authory" style="display:none;">
      <div class="content">
        <div class="col-sm-2 col-xs-2">
          <div style="background-image:url('{{function('get_avatar_url', post.author.id,160)}}');" class="avatar"></div>
        </div>
        <div class="col-sm-7 col-xs-10">
          <p class="author">{{post.author.first_name}} {{post.author.last_name}}</p>
          <p class="small">{{post.author.description}}</p>
        </div>
        <div class="col-sm-3 social">
          {% if facebook %}
            <a class="btn" href="{{facebook}}"> 
              <i class="fa fa-lg fa-facebook"></i>
            </a>
          {% endif %}
          {% if twitter %}
            <a class="btn">
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          {% endif %}
          {% if instagram %}
            <a class="btn">
              <i class="fa fa-lg fa-instagram"></i>
            </a>
          {% endif %}
          {% if web %}
            <a class="btn">
              <i class="fa fa-lg fa-link"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
{% if post.next('category') %}
<div style="background-image:url('{{post.next('category').thumbnail}}');" class="mistake small-mistake next-mistake">
  <div class="content paper">
    <h3>Más en {{post.category}}</h3>
    <h2>{{post.next('category').title}}</h2>
    <p class="small">Una experiencia de {{post.next('category').author.first_name}} {{post.next('category').author.last_name}}</p><a class="btn dark" href="{{post.next('category').link}}">Siguiente error<span class="fa fa-angle-right"></span></a>
  </div>
  <div class="others">
    <div class="mistake small-mistake"></div>
    <div class="mistake small-mistake m2"></div>
    <div class="mistake small-mistake m3"></div>
  </div>
</div>

{% elseif post.next() %}
<div style="background-image:url('{{post.next().thumbnail}}');" class="mistake small-mistake next-mistake">
  <div class="content paper">
    <h3>Más experiencias</h3>
    <h2>{{post.next().title}}</h2>
    <p class="small">Una experiencia de {{post.next().author.first_name}} {{post.next().author.last_name}}</p>
    <a class="btn purple" href="{{post.prev().link}}">
      <span class="fa fa-angle-left">
      </span>
    </a>
    <a class="btn dark" href="{{post.next().link}}">Siguiente error<span class="fa fa-angle-right"></span></a>
  </div>
  <div class="others">
    <div class="mistake small-mistake"></div>
    <div class="mistake small-mistake m2"></div>
    <div class="mistake small-mistake m3"></div>
  </div>
</div>
{% else %}
<div style="background-image:url('{{post.next().thumbnail}}');" class="mistake small-mistake next-mistake">
  <div class="content paper">
    <h3>Más experiencias</h3>
    <h2>{{post.prev().title}}</h2>
    <p class="small">Una experiencia de {{post.prev('category').author.first_name}} {{post.next('category').author.last_name}}</p>
    <a class="btn dark" href="{{post.prev().link}}">Siguiente error<span class="fa fa-angle-right"></span></a>
  </div>
  <div class="others">
    <div class="mistake small-mistake"></div>
    <div class="mistake small-mistake m2"></div>
    <div class="mistake small-mistake m3"></div>
  </div>
</div>
{% endif %}
