{% extends "base.twig" %}

{% block content %}

	<div style="background-image:url('{{post.thumbnail}}');" class="banner"></div>
	<div id="main-mistake" class="mistake">
	  <div class="content paper">
	    <a href="{{post.category.link}}">
	      <p class="labels">#{{post.category}}</p>
	    </a>
	    <h1 class="title">{{post.title}}</h1>
	    <div class="text post-type-{{post.post_type}}" id="post-{{post.ID}}">
	      {{post.content}}
	    </div>
	  </div>
	</div>
	
{% endblock %}