{% if post.thumbnail %}
<div style="background-image:url('{{post.thumbnail.src}}');" class="mistake small-mistake home">
{% else %}
<div style="background-image:url('{{site.theme.link}}/assets/images/banner.png');" class="mistake small-mistake home">
{% endif %}
  <a class="label{% if post.category == 'Literatura' %} blue{% elseif post.category == 'Personal' %} green{% endif %}" href="{{post.category.link}}">#{{post.category}}</a>
  <div class="content paper url-mistake" data-href="{{post.link}}">
    <h2>{{post.title}}</h2>
    <p class="small">{{post.get_preview(25,false,"Sigue leyendo")}}</p>
    <p class="data-m">
      <span style="background-image:url('{{function('get_avatar_url', post.author.id,150)}}');" class="img avatar">
      </span>
      <span>
        {{post.author.first_name}} 
        {{post.author.last_name}}
      </span>
      {% if post.votes_count > 0 %}
        <span class="img-thumbup">
        </span>
        <span class="count">
          {{post.votes_count}}
        </span>
      {% endif %}
    </p>
    {# <a class="btn purple">
      <span class="fa fa-angle-left">
      </span>
    </a> #}
    <a class="btn dark" href="{{post.link}}">
      Lee este artículo
      <span class="fa fa-angle-right">
      </span>
    </a>
  </div>
  <div class="others">
    <div class="mistake small-mistake m1"></div>
    <div class="mistake small-mistake m2"></div>
  </div>
</div>
